.layout-content {
    padding: 6rem 3rem 0 3rem;
    display: flex;

    .layout-content-slot {
        flex: 1 1 auto;
        width: 1%;
        padding-top: .5rem;
    }
}

.card {
    background: var(--surface-card);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 3px;
    margin-bottom: 1rem;
}
